<!Doctype HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel = "stylesheet" href = "/a/css/bootstrap.css">
<link rel = "stylesheet" href = "/a/css/w3css.css">
<link rel = "stylesheet" href = "/a/css/user_hotel.css">
<link rel = "stylesheet" href = "/a/css/hotel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Hotel Home Page</title>
</head>
<body>
    <!-- Header -->
    <section>
        <div class = 'row text-center'>
            <div class=" mylogo" style = 'background-color:navy;color:white'><i><span style="font-size:32px">!!! W</span>elcome to <span style="font-size:32px">T</span>He <span style="font-size:32px">I</span>NCREDIBLE<span style="font-size:32px"> E</span>NIGMA<span style="font-size:32px"> !!!</span></i>
             </div>
        </div>
    </section>
    <!-- navigation part -->
    <nav class = 'navbar navbar-inverse' data-spy = 'affix' data-offset-top = '197'>
        <ul class = 'nav navbar-nav'>
            <li><a href="/main_admin" class = 'links'>Home</a></li>
            <li><a href="/rooms_checkinout" class = 'links'>Room-Bookings</a></li>
            <li><a href="/allreviews" class = 'links'>All-Reviews</a></li>
            <li><a href="/book" class = 'links'>Bookings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right contact">
            <li><u><a href="/" class = 'links-sign'>Sign-Out</a></u></li>
            <li><u><a href="/user_form" class = 'links-sign'>User Signin</a></u></li>
        </ul>
    </nav>
    <!-- header containing all pics of hotels -->
    <header>
    <div id = 'pics' class = 'carousel slide' data-ride = 'carousel'>
      <ol class = 'carousel-indicators'>
        <li data-target = '#pics' data-slide-to = '0' class = 'active'></li>
        <li data-target = '#pics' data-slide-to = '1'></li>
        <li data-target = '#pics' data-slide-to = '2'></li>
        <li data-target = '#pics' data-slide-to = '3'></li>
        <li data-target = '#pics' data-slide-to = '4'></li>
        </ol>
    <div class = 'carousel-inner'>
        <div class = 'item active'>
            <img src ='a/images/rooms2.jpg' class = 'img'>
            <div class = 'carousel-caption'>
            <h1>Welcome to our Hotel</h1>
            <h3>Come relax with us and have fun</h3>
            </div>
        </div>
        <div class = 'item'>
            <img src ='a/images/hotel5.jpg' class = 'img'>
            <div class = 'carousel-caption'>
            <h1> You are special for us </h1>
            <h3>We make our clients feel very important </h3>
            </div>
        </div>
        <div class = 'item'>
            <img src ='a/images/rooms4.jpg' class = 'img'>
            <div class = 'carousel-caption'>
            <h1>The gorgeous rooms </h1>
            <h3>It will be a cherished memory forever</h3>
            </div>
        </div>
        <div class = 'item'>
            <img src ='a/images/magic.jpg' class = 'img'>
            <div class = 'carousel-caption'>
            <h1> All Recreation for you </h1>
            <h3>Enjoy with all our recreations </h3>
            </div>
        </div>
        <div class = 'item'>
            <img src ='a/images/food3.jpg' class = 'img'>
            <div class = 'carousel-caption'>
            <h1> Your favourite food  </h1>
            <h3>Eat delicious and mouth-watering dishes</h3>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#pics" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#pics" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
</header>

<footer>
    <div class="container text-left">
        <div class="row ">
            <div class=" mylogo2 text-center" style = 'margin-bottom:40px;'><i><span style="font-size:32px">
                The Incredible Enigma</span></i>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6 ">
                <ul class="list-group ">
                    <li>About Us</li>
                    <li >Culture</li>
                    <li>Blog</li>
                    <li >Careers</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <ul>
                    <li>Code of Conduct</li>
                    <li>Community</li>
                    <li>Verified Users</li>
                    <li>Blogger Help</li>
                    <li>Developers</li>
                    <li>Mobile Apps</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <ul>
                    <li>Add a Restaurant</li>
                    <li>Claim your Listing</li>
                    <li>Business App</li>
                    <li>Business Blog</li>
                    <li>Restaurant Widgets</li>
                    <li>Products for Businesses</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <ul>
                    <li>Privacy </li>
                    <li>Terms and Conditions</li>
                    <li>API Policy </li>
                    <li>CSR</li>
                    <li>Security</li>
                    <li>Site Map</li>
                </ul>
            </div>
        </div>
        </div>
</footer>


</script>
<script src="/a/js/jquery.js"></script>
<script src="/a/js/bootstrap.js"></script>    
</body>
</html>