.heading{
   color:#990000;
   font-weight: bold;
   text-decoration: underline;
}
.register_head{
    font-weight:bold;
    margin-top:40px;
}
.margins{
    margin-top:100px;
    margin-left:150px;
}