/* 
For login.html, admin_form.html, user_form.html Files
*/
.bg{
    background-image: url('../images/bg4.jpg');
}
.bg2{
    background-image: url("../images/bg_admin.jpg");
}
.forms{
    margin-left:70px;
    margin-top:60px;
    width:75%;
}
.button1{
    font-size:25px;
    margin-left:120px
}
.button2{
    margin-top:10px;
    margin-bottom:10px;
    font-size:15px;
    margin-left:50px;
}
.admin_head{
    margin-top:30px;
    color:white;
}

/* 
For main_user.html, main_rest.html, main_hotel.html
*/
.bg_main{
    background-image:url("../images/user_main_bg.jpg");
}
.mylogo{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: hsl(35, 100%, 30%);
    background: hsl(35, 60%, 80%);
    text-shadow: 0 0 2px 1px hsl(35, 70%, 30%),
             0 0 4px 4px hsla(30, 100%, 55%, 0.5),
             -1px 1px 2px 7px hsl(45, 60%, 95%),
             -3px 3px 1px 4px hsl(35, 70%, 30%),
             -3px 3px 4px 8px hsla(30, 90%, 55%, 0.5);
    font-size:36px;
    font-weight:bold;
}
.card_logo{
    margin-top:30px;
    margin-left:80px;
    width:75%;
}
.img_logo{
    border:1px solid lightgray;
    margin-left:20px;
    margin-top:20px;
    width:92%;
    height:400px;
    margin-bottom:20px;
}
.options{
    color:navy;
    font-size:22px;
}
