.heading{
    text-align:center;
    color:navy;
}
.sub{
     text-align:center;
    color:gray;
    margin-top:5px;
}
.thumbnail{
    height:340px !important;
    width:300px !important;
    margin-left:30px;
    margin-top:20px;
}
.thumbnail:hover{
    border:1px solid blue;
}
.image{
    height:250px !important;
    width:300px;
    margin-left:30px;
}
.cap{
    color:navy;
}
.subcap{
    color:gray;
}
.menu{
    width:99%;
    height:450px;
    margin-bottom:20px;
}