<!Doctype HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel = "stylesheet" href = "/a/css/bootstrap.css">
<link rel = "stylesheet" href = "/a/css/w3css.css">
<link rel = "stylesheet" href = "/a/css/user_hotel.css">
<link rel = "stylesheet" href = "/a/css/hotel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Hotel Home Page</title>
</head>
<body>
    <!-- Header -->
    <section>
        <div class = 'row text-center'>
            <div class=" mylogo"><i><span style="font-size:32px">!!! W</span>elcome to <span style="font-size:32px">T</span>He <span style="font-size:32px">I</span>NCREDIBLE<span style="font-size:32px"> E</span>NIGMA<span style="font-size:32px"> !!!</span></i>
             </div>
        </div>
    </section>
    <!-- navigation part -->
    <nav class = 'navbar navbar-inverse' data-spy = 'affix' data-offset-top = '197'>
        <ul class = 'nav navbar-nav'>
            <li><a href="/main_hotel" class = 'links'>Home</a></li>
            <li><a href="/rooms" class = 'links'>Rooms</a></li>
            <li><a href="/recreation" class = 'links'>Recreation</a></li>
            <li><a href="/reviews" class = 'links'>Reviews</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right contact">
            <li><u><a href="/" class = 'links-sign'>Sign-Out</a></u></li>
            <li><u><a href="/main_rest" class = 'links-sign'>Restaurant</a></u></li>
            <i class="fa fa-linkedin-square link"></i>
            <i class="fa fa-twitter-square tweet"></i>
            <i class="fa fa-facebook-official fb"></i>
            <i class="fa fa-google-plus-official gp"></i>
            <i class="fa fa-vimeo-square vm"></i>
            <i class="fa fa-flickr fc"></i>
        </ul>
    </nav>
    <!-- header containing all pics of hotels -->
    
    <section style="background-color: lightgray">
        <h2 class = 'heading'><u>Cabret Dance Shows<u></h2>
            <div class = 'row'>
                <div class = 'col-lg-5 col-sm-5'>
                    <div id = 'pics' class = 'carousel slide' data-ride = 'carousel'>
                        <ol class = 'carousel-indicators'>
                            <li data-target = '#pics' data-slide-to = '0' class = 'active'></li>
                             <li data-target = '#pics' data-slide-to = '1'></li>
                             <li data-target = '#pics' data-slide-to = '2'></li>
                         </ol>
                         <div class = 'carousel-inner'>
                            <div class = 'item active'>
                                <img src ='a/images/recreation1.jpg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/dance2.jpg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/dance3.jpg' class = 'img_dance'>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class = 'col-lg-6 col-sm-6' style = 'margin-left:20px;margin-top:30px'>
                    <div class = 'w3-card-4 w3-white card'>
                        <h3 class = 'sub-heading text-center'>About the Dance Show</h3>
                         <p style = 'margin-left:20px;margin-top:30px;margin-right:20px'>
                         The Aphrodite Cabaret Show makes for a fun night out. The cabaret show is housed in a ship-like structure and in addition to a huge theatre, there are restaurants and a brewery for visitors to enjoy a few drinks and some food before the show. Prepare to be entertained during one hours with many dances and musical numbers.
                         There is a range of options for all travellers such as Wifi equipped amenities, gym, fitness centres, and complimentary breakfast. The most popular hotel in Ratsada is the Shunli Hostel, which has been booked 5 times from our Hotels.com verified guests. Our guests also highly recommended Eat n Sleep in Ratsada as it has been reserved 5 times.
                      </p>
                        <div>
                        <button class = 'btn btn-primary btn-lg btn_book'>Book Tickets </button>
                        <button class = 'btn btn-success btn-lg btn_book_hide'>Booked Successfully </button>
                    </div>
                    </div>

                </div>
            </div>
      
    
    <h2 class = 'heading'><u>Magic Shows<u></h2>
            <div class = 'row'>
                <div class = 'col-lg-5 col-sm-5'>
                    <div id = 'pics' class = 'carousel slide' data-ride = 'carousel'>
                        <ol class = 'carousel-indicators'>
                            <li data-target = '#pics' data-slide-to = '0' class = 'active'></li>
                             <li data-target = '#pics' data-slide-to = '1'></li>
                             <li data-target = '#pics' data-slide-to = '2'></li>
                         </ol>
                         <div class = 'carousel-inner'>
                            <div class = 'item active'>
                                <img src ='a/images/magic3.jpg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/magic.jpg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/recreation2.jpg' class = 'img_dance'>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#pics" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    
                </div>
                <div class = 'col-lg-6 col-sm-6' style = 'margin-left:20px;margin-top:30px'>
                    <div class = 'w3-card-4 w3-white card'>
                         <h3 class = 'sub-heading text-center'>About the Magic Show</h3>
                         <p style = 'margin-left:20px;margin-top:30px;margin-right:20px'>
                         Magic is a mixture of art, science and illusion. It is an art of amazing people which not merely entertain us but also helps in brain development of children and students when they start thinking about the secretes behind the tricks. It is a science as it involves tricks which are based on science principles. Illusion is something in which what we show is not actually present, it is our presentation which makes the illusion possible. The basic difference between a Magician and others is that the magician starts thinking from where a common person stops thinking.
                      </p>
                        <div>
                        <div>
                        <button class = 'btn btn-primary btn-lg btn_book'>Book Tickets </button>
                        <button class = 'btn btn-success btn-lg btn_book_hide'>Booked Successfully </button>
                    </div>
                    </div>
                    </div>

                </div>
            </div>



            <h2 class = 'heading'><u>Water Sports<u></h2>
            <div class = 'row'>
                <div class = 'col-lg-5 col-sm-5'>
                    <div id = 'pics' class = 'carousel slide' data-ride = 'carousel'>
                        <ol class = 'carousel-indicators'>
                            <li data-target = '#pics' data-slide-to = '0' class = 'active'></li>
                             <li data-target = '#pics' data-slide-to = '1'></li>
                             <li data-target = '#pics' data-slide-to = '2'></li>
                         </ol>
                         <div class = 'carousel-inner'>
                            <div class = 'item active'>
                                <img src ='a/images/water1.jpg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/water2.jpg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/water3.jpg' class = 'img_dance'>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class = 'col-lg-6 col-sm-6' style = 'margin-left:20px;margin-top:30px'>
                    <div class = 'w3-card-4 w3-white card'>
                         <h3 class = 'sub-heading text-center'>About the Sports</h3>
                         <p style = 'margin-left:20px;margin-top:30px;margin-right:20px'>
                         Magic is a mixture of art, science and illusion. It is an art of amazing people which not merely entertain us but also helps in brain development of children and students when they start thinking about the secretes behind the tricks. It is a science as it involves tricks which are based on science principles. Illusion is something in which what we show is not actually present, it is our presentation which makes the illusion possible. The basic difference between a Magician and others is that the magician starts thinking from where a common person stops thinking.
                      </p>

                        <button class = 'btn btn-primary btn-lg btn_book'>Book Tickets </button>
                        <button class = 'btn btn-success btn-lg btn_book_hide'>Booked Successfully </button>
                    </div>

                </div>
            </div>

            <h2 class = 'heading'><u>Art Room Galery<u></h2>
            <div class = 'row'>
                <div class = 'col-lg-5 col-sm-5'>
                    <div id = 'pics' class = 'carousel slide' data-ride = 'carousel'>
                        <ol class = 'carousel-indicators'>
                            <li data-target = '#pics' data-slide-to = '0' class = 'active'></li>
                             <li data-target = '#pics' data-slide-to = '1'></li>
                             <li data-target = '#pics' data-slide-to = '2'></li>
                         </ol>
                         <div class = 'carousel-inner'>
                            <div class = 'item active'>
                                <img src ='a/images/art1.jpg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/arts.jpeg' class = 'img_dance'>
                            </div>
                            <div class = 'item'>
                                <img src ='a/images/art3.jpg' class = 'img_dance'>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class = 'col-lg-6 col-sm-6' style = 'margin-left:20px;margin-top:30px'>
                    <div class = 'w3-card-4 w3-white card'>
                         <h3 class = 'sub-heading text-center'>About the Gallery</h3>
                         <p style = 'margin-left:20px;margin-top:30px;margin-right:20px'>
                         Magic is a mixture of art, science and illusion. It is an art of amazing people which not merely entertain us but also helps in brain development of children and students when they start thinking about the secretes behind the tricks. It is a science as it involves tricks which are based on science principles. Illusion is something in which what we show is not actually present, it is our presentation which makes the illusion possible. The basic difference between a Magician and others is that the magician starts thinking from where a common person stops thinking.
                      </p> 
                        <div>
                        <button class = 'btn btn-primary btn-lg btn_book'>Book Tickets </button>
                        <button class = 'btn btn-success btn-lg btn_book_hide'>Booked Successfully </button>
                    </div>
                    </div>

                </div>
            </div>
    
   </section>

<footer>
    <div class="container text-left">
        <div class="row " >
            <div class=" mylogo2 text-center" style = 'margin-bottom:40px;'><i><span style="font-size:32px">
                The Incredible Enigma</span></i>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6 ">
                <ul class="list-group ">
                    <li>About Us</li>
                    <li >Culture</li>
                    <li>Blog</li>
                    <li >Careers</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <ul>
                    <li>Code of Conduct</li>
                    <li>Community</li>
                    <li>Verified Users</li>
                    <li>Blogger Help</li>
                    <li>Developers</li>
                    <li>Mobile Apps</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <ul>
                    <li>Add a Restaurant</li>
                    <li>Claim your Listing</li>
                    <li>Business App</li>
                    <li>Business Blog</li>
                    <li>Restaurant Widgets</li>
                    <li>Products for Businesses</li>
                </ul>
            </div>
            <div class="col-m-5 col-lg-3 col-xs-6">
                <ul>
                    <li>Privacy </li>
                    <li>Terms and Conditions</li>
                    <li>API Policy </li>
                    <li>CSR</li>
                    <li>Security</li>
                    <li>Site Map</li>
                </ul>
                    </div>
        </div>
        </div>
</footer>
</section>
   
    <script src="/a/js/jquery.js"></script>
<script src="/a/js/bootstrap.js"></script> 
<script>
    $(document).ready(function(){
        $(".btn_book").click(function(){
            alert("Congrats, Your Tickets are booked now ENJOY!! ");
            $(this).hide();
            $(this).next().show()
        });
    })
   </script>   
</body>
</html>